.navbar {
  display:flex;
  flex-direction: row;
  width: 100%;
}
.navbarList {
  display:flex;
  flex-direction: row;
  width: 100%;
  list-style:none;
}
.navbarList li{
padding: 0 10px;
}
a:-webkit-any-link {
color:black;
}
.navLink:link {
  text-decoration: none;
  color:black;
  font-weight: bold;
}

.navLink:focus,
.navLink:active {
  color:black;
  text-decoration: underline;
}
.bodywrapper {
  display:flex;
  flex-wrap: wrap;
  gap:2%;
& p {
  padding:20% 0;
}
& section {
  flex:1;
}
}

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.listButton {
  padding:5px 8px;
  background-color: darkkhaki;
  color:black;
  text-align: center;
  text-decoration: none;
  width:100%;
  max-width: 200px;
  border-radius: 20px;
  border:1px solid darkkhaki;
  margin: 5px 0;
  cursor: pointer;
  list-style: none;
  margin:2px 5px;
}
.listButton:hover {
  border:1px solid khaki;
  background-color: khaki;
}
.listButton.clicked {
  border-color:darkkhaki;
  text-decoration: line-through;
  background-color: gray;
}